{% extends 'itreporting/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <p>
                {% if user.student_profile.photo %}
                <img class="rounded-circle-account-img" src="{{ user.student_profile.photo.url }}">
                {% else %}
                <img class="rounded-circle-account-img" src="/static/profile_pics/default.png">
                {% endif %}
            </p>
            <div class="media-body">
                <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="text-secondary">Username: {{ user.username }}</p>
                <p class="text-secondary">Email: {{ user.email }}</p>
                <p class="text-secondary">Date of Birth: {{ user.student_profile.date_of_birth }}</p>
                <p class="text-secondary">Address: {{ user.student_profile.address }}</p>
                <p class="text-secondary">City/Town: {{ user.student_profile.city_town }}</p>
                <p class="text-secondary">Country: {{ user.student_profile.country }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Profile Details</legend>
                {{ u_form | crispy }}
                {{ p_form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}