{% extends 'itreporting/base.html' %}

{% block content %}
  <h1>{{ module.name }}</h1>
  <p>Category: {{ module.category }}</p>
  <p>Credits: {{ module.credit }}</p>
  <p>Availability: {% if module.availability %} Available {% else %} Not Available {% endif %}</p>

  <p>Courses Allowed To Register: 
    {% for course in module.courses_allowed.all %}
        {{ course.name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>

  {% if is_registered %}
      <form method="POST">
          {% csrf_token %}
          <button type="submit">Unregister</button>
      </form>
  {% else %}
      <form method="POST">
          {% csrf_token %}
          <button type="submit">Register</button>
      </form>
  {% endif %}
{% endblock %}
