{% extends 'itreporting/base.html' %}

{% block content %}

  <h2>Registered Modules</h2>
  <ul>
    {% for module in modules %}
      {% if module in request.user.student_profile.modules.all %}
        <li>
          <a href="{% url 'module_detail' module.id %}">{{ module.name }} - {{ module.code }}</a>
          <form method="POST" action="{% url 'module_detail' module.id %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Unregister</button>
          </form>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Unregistered Modules</h2>
  <ul>
    {% for module in modules %}
      {% if module not in request.user.student_profile.modules.all %}
        <li>
          <a href="{% url 'module_detail' module.id %}">{{ module.name }} - {{ module.code }}</a>
          <form method="POST" action="{% url 'module_detail' module.id %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Register</button>
          </form>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
